/Temp
/.vs
/Library
/Logs
/obj
/Packages

*.csproj
*.sln
/build_windows
/test
/Assets/StreamingAssets/assets/assets
/Assets/StreamingAssets/assets/assets.meta
/Assets/StreamingAssets/assets/windows
/Assets/StreamingAssets/assets/windows.manifest
/Assets/StreamingAssets/assets/windows.manifest.meta
/Assets/StreamingAssets/assets/windows.meta
/AssetBundles/windows
/bin

